<h2>Articles</h2>

<div class="row">
    {{ #each article }}
        <div class="col s12 m6">
            <div class="card green lighten-4">
                <div class="card-content">
                <p>{{ title }}</p>
                </div>
                <div class="card-action">
                <a href="{{ link }}">Link to article</a>
                <a href="#">Save article</a>
                </div>
            </div>
        </div>

    {{ /each }}


</div>